<h3><b>Sign Up</b></h3>
{{signUpForm.value | json}}
{{signUpForm.status | json}}
<form [formGroup]="signUpForm" (ngSubmit)="submit()">

  <div class="form-group">
    <label for="firstName">First name: </label>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" formControlName="firstName">
    <div *ngIf="signUpForm.controls.firstName.invalid && submitTried" class="invalid-feedback">
      Nije dobro
    </div>
  </div>

  <div class="form-group">
    <label for="lastName">Last name: </label>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name" formControlName="lastName">
  </div>

  <div class="form-group">
      <label>Gender</label>
      <div class="form-check">
        <label class="form-check-label" for="genderMale">
          <input type="radio" class="form-check-input" name="gender" id="genderMale" value="male" checked formControlName="gender">
          Male
        </label>

      </div>
      <div class="form-check">
        <label class="form-check-label" for="genderFemale">
          <input type="radio" class="form-check-input" name="gender" id="genderFemale" value="female" formControlName="gender">
          Female
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label" for="genderOther">
          <input type="radio" class="form-check-input" name="gender" id="genderOther" value="other"  formControlName="gender">
          Other
        </label>
    </div>
  </div>
  <h4>Address</h4>

  <div formGroupName="address">

    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control" id="country" formControlName="country">
        <option value="" disabled selected>Choose...</option>
        <option value="russia">Russia</option>
        <option value="france">France</option>
        <option value="serbia">Serbia</option>
        <option value="germany">Germany</option>
        <option value="moldavia">Moldavia</option>
      </select>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" name="city" placeholder="Enter city you live in" formControlName="city" [ngClass]="{'is-invalid': signUpForm.controls.address.controls.city.invalid && submitTried}">
      <div *ngIf="signUpForm.controls.address.controls.city.invalid && submitTried" class="invalid-feedback">
          Enter the valid data!
      </div>
    </div>

    <div class="form-group">
      <label for="zip">ZIP Code</label>
      <input type="number" class="form-control" id="zip" name="zip" placeholder="Enter your ZIP code" formControlName="zip">
    </div>

    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" class="form-control" id="street" name="street" placeholder="Enter street you live in"  formControlName="street">
    </div>

    <div class="form-group">
      <label for="streetNumber">Street number</label>
      <input type="text" class="form-control" id="streetNumber" name="streetNumber" placeholder="Enter your street number"  formControlName="streetNumber">
    </div>

  </div>

  <div class="form-group">
    <label for="street">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Enter email"  formControlName="email">
  </div>

  <div class="form-group">
    <label for="street">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"  formControlName="password">
  </div>

  <div class="form-group">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" formControlName="rules">
      <label class="form-check-label">OK</label>
    </div>
  </div>

 <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="valid-feedback">Looks Yummy!</div>
<div class="invalid-feedback"></div>
<!--
<div class="modal" [ngClass]="{'show':modalIsActive}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you wanna register?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Yes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="toggleModal()"> No</button>
        </div>
      </div>
    </div>
  </div> -->
