<h1>ADadsajkdja</h1>
<form [formGroup]="testForm">
  <input type="text" name="firstName" placeholder="Name" formControlName="firstName">
  <div formGroupName="address">
      <input type="text" name="street" placeholder="Street" formControlName="street">
  </div>
  {{testForm.value | json}}
  {{testForm.status | json}}
</form>