<h1 class="text-center">&rarr; Reactive Forms &larr;</h1>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/signup">Sign up</a></li>
      <li><a routerLink="/test">Test</a></li>
      <li><a routerLink="/dynamic">Dynamic</a></li>
      <li><a routerLink="/recursive">Recursive Test</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
  <button changeColor greenColor = 'green' >Test</button>
</div>


<app-parent></app-parent>