<div id="tree"></div>
{{testForm.value | json}}
<form [formGroup]="testForm" (ngSubmit)="submit()">

  <div class="form-row" *ngFor="let field of formConfig" [ngSwitch]="field.type">

    <div class="form-group" *ngSwitchDefault>
      <label [for]="field.key">{{field.label}} </label>
      <input [type]="field.type" class="form-control" [id]="field.key" [name]="field.key" [placeholder]="'Enter '+field.label " [formControlName]="field.key">
      <div *ngIf="testForm.controls[field.key].errors?.required && submitTried" class="invalid-feedback" >
        {{field.label}} is required.
      </div>
    </div>

    <div class="form-group" *ngSwitchCase="'radio'">
      <label>{{field.label}}</label>
      <div class="form-check" *ngFor="let option of field.options">
        <label class="form-check-label" [for]="option.value">
          <input type="radio" class="form-check-input" [name]="option.group" [id]="option.value" [value]="option.value" [formControlName]="field.key">
          {{option.label}}
        </label>
      </div>
      <div *ngIf="testForm.controls[field.key].errors?.required && submitTried" class="invalid-feedback" >
        {{field.label}} is required.
      </div>
    </div>


    <div class="form-group" *ngSwitchCase="'select'" >
      <label>{{field.label}}</label>
      <select class="form-control" id="country" [formControlName]="field.key">
        <option value="" disabled selected>{{field.defaultPlaceHolder}}</option>
        <option *ngFor="let option of field.options" [value]="option.code">{{option.name}}</option>
      </select>
      <div *ngIf="testForm.controls[field.key].errors?.required && submitTried" class="invalid-feedback" >
        {{field.label}} is required.
      </div>
    </div>

  </div>

  <input type="submit">
</form>
