/* You can add global styles to this file, and also import other style files */
.form-control.is-valid{
    border:1px solid green;
}
.form-control.is-invalid{
    border: 1px solid red;
}
.valid-feedback{
    color: green;
}
.invalid-feedback{
    color: red;
}